# Git
.git
.gitignore

# Node.js
node_modules
npm-debug.log
yarn-error.log

# Next.js
.next
out

# Environment variables
.env
.env.*
!.env.example

# IDE files
.idea
.vscode

# Misc
README.md
.DS_Store
*.pem

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker
Dockerfile
.dockerignore
docker-compose*.yml
