@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;


@theme {
	--font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer base {
	:root {
		--background: 210 40% 98%;
		--foreground: 222 47% 11.2%;

		--card: 0 0% 100%;
		--card-foreground: 222 47% 11.2%;

		--popover: 0 0% 100%;
		--popover-foreground: 222 47% 11.2%;

		--primary: 240 60% 50%;
		--primary-foreground: 210 40% 98%;

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222 47% 11.2%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215 16% 47%;

		--accent: 215 100% 96%;
		--accent-foreground: 240 60% 50%;

		--destructive: 0 84% 60%;
		--destructive-foreground: 210 40% 98%;

		--border: 214 32% 91%;
		--input: 214 32% 91%;
		--ring: 240 60% 50%;

		--radius: 0.75rem;

		--sidebar-background: 0 0% 98%;
		--sidebar-foreground: 240 5% 26%;
		--sidebar-primary: 240 6% 10%;
		--sidebar-primary-foreground: 0 0% 98%;
		--sidebar-accent: 240 5% 96%;
		--sidebar-accent-foreground: 240 6% 10%;
		--sidebar-border: 220 13% 91%;
		--sidebar-ring: 217 91% 60%;
	}

	.dark {
		--background: 222 47% 11.2%;
		--foreground: 210 40% 98%;

		--card: 222 47% 11.2%;
		--card-foreground: 210 40% 98%;

		--popover: 222 47% 11.2%;
		--popover-foreground: 210 40% 98%;

		--primary: 217 91% 60%;
		--primary-foreground: 222 47% 11.2%;

		--secondary: 217 33% 17.5%;
		--secondary-foreground: 210 40% 98%;

		--muted: 217 33% 17.5%;
		--muted-foreground: 215 20% 65%;

		--accent: 217 91% 60% / 0.1;
		--accent-foreground: 210 40% 98%;

		--destructive: 0 63% 31%;
		--destructive-foreground: 210 40% 98%;

		--border: 217 33% 17.5%;
		--input: 217 33% 17.5%;
		--ring: 224 76% 48%;

		--sidebar-background: 240 6% 10%;
		--sidebar-foreground: 240 5% 96%;
		--sidebar-primary: 224 76% 48%;
		--sidebar-primary-foreground: 0 0% 100%;
		--sidebar-accent: 240 4% 16%;
		--sidebar-accent-foreground: 240 5% 96%;
		--sidebar-border: 240 4% 16%;
		--sidebar-ring: 217 91% 60%;
	}
}


